.content-opfp {
    width: 100%;
    font-family: var(--font-3);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.6;
}

.body-opfp {
    display: flex; /* Kích hoạt Flexbox */
    width: 100%; /* Chiếm toàn bộ chiều rộng container cha */
    justify-content: space-between; /* Đẩy 2 item con ra 2 phía, tạo khoảng trống ở giữa (nếu tổng width < 100%) */

    /* gap: 1%; */ /* Tạo khoảng cách 1% giữa các item con */
}
.body-opfp .content-body {
    width: 70%;
    background-color: lightblue;
}

.body-opfp .sidebar {
    width: 29%;
    background-color: lightcoral;
}
