.sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.sidebar button {
    background-color: black;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 3px;
}

.sidebar button:hover {
    opacity: 0.8;
}

.sidebar .social {
    /* Phần "Mạng xã hội" */
    background-color: #8a7ff7; /* Màu tím nhạt */
    color: white;
    padding: 10px 20px;
    font-size: 1.2em; /* Cỡ chữ lớn hơn */
    font-family: cursive; /* Font chữ giống hình */
    margin-bottom: 15px; /* Khoảng cách với các nút bên dưới */
    border-radius: 5px; /* Bo góc nhẹ */
}

/* =========================================================== */
/*                           Social                            */
/* =========================================================== */
.sidebar .social {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
}

.sidebar .social .title {
    font-family: var(--font-4);
    font-weight: 500;
    font-size: 2.2rem;
    color: #fff;
    background-color: var(--color-2);
}

.sidebar .social .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 30px;
}

.sidebar .social .list a {
    font-family: var(--font-3);
    color: #fff;
    background-color: black;
    display: inline-block;
    padding: 4px 10px;
}
